a,li,a:hover{
	text-decoration: none;
	display: inline-block; 
	color: black;
	position: relative;}
.menu{ 
	background: grey;
	height: 100px;
	padding-top: 6%;}

.menu ul{ 
	width: 100%;
	position: relative;
	bottom:1px ;
	padding-left: 1%;}

.menu li{
	font-size: 130%;
	padding: 1%;}

.menu li:hover{ 
	background: white;}

.bor{ 
	border-right: 1px solid black;}

